@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-slate-100/70 sm:text-sm text-[11px] font-semibold hover:bg-slate-50/70 hover:text-gray-800 transition-all duration-200;
  }
  .container {
    @apply flex justify-center items-center lg:flex-row flex-col gap-8;
  }
}
